token = "" # your discord bot token

# remove if a database driver is not enabled
[databases]
url = "" # the connection url for your database

# remove if johnny feature is not enabled
[johnny]
imgur = "" # your imgur client id
